.projects {
    display: flex;
    flex-direction: column;
    margin: 10rem 0;
}

.p-decs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.p-decs>:nth-child(1) {
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}

.p-decs>:nth-child(2) {
    width: 60%;
    font-size: 1rem;
    font-weight: normal;
    color: var(--gray);
    text-align: justify;
}

.p-list {
    width: 90%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-active {
    flex: 7;
    margin-right: 3rem;
    transition: 1s;
}

.p-un-active {
    flex: 3;
    display: flex;
    flex-direction: column;
    text-align: end;
}

.p-pc>* {
    filter: blur(.9px);
    margin-bottom: .5rem;
}

.p-pc>*:hover {
    cursor: pointer;
    animation: slider .75s .2s ease infinite;
    filter: blur(0px);
}

@keyframes slider {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    50% {
        transform: translateX(2rem);
        opacity: 1;
    }

    100% {
        transform: translateX(0rem);
        opacity: 1;
    }
}

@media screen and (max-width:480px) {
    .projects {
        margin-top: 1100px;
    }

    .p-decs>:nth-child(2) {
        width: 100%;
        font-size: 1rem;
        font-weight: normal;
        color: var(--gray);
        text-align: justify;
    }

    .p-list {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }
    .p-active>* {
        min-height: 20rem;
    }
    .p-pc {
        display: flex;
        flex-direction: row;
        max-width: 33%;
        min-height: 5rem;
    }

    .p-pc>* {
        text-align: center;
    }
}