.p-card {
    padding: 1rem;
    box-shadow: 0 .5rem 1rem gray;
    border-radius: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}


.p-card-active {
    display: flex;
    flex-direction: column;
}

.p-card-active>:nth-child(1) {
    color: var(--orange);
    text-align: end;
    font-size: 2rem;
    font-weight: 800;
}

.p-card-active>:nth-child(2) {
    color: var(--black);
    font-weight: 600;
}

.p-card-active>:nth-child(4) {
    color: var(--gray);
}


.p-card-un-active {
    color: red;
}

.p-imgs-active {
    width: 100%;
    display: flex;
}

.p-imgs-active>* {
    width: 33%;
}

.social {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4rem;

}

.social a {
    transition: .3s;
    text-decoration: none;
}

.social a:hover {
    color: var(--orange);
}

.social-icon {
    transform: translateY(5px);
}

@media screen and (max-width:480px) {
    .p-card-active>:nth-child(4) {
        display: none;
    }
    .p-imgs-active>* {
        width: 100%;
    }
    .p-imgs-active>:nth-child(2),
    .p-imgs-active>:nth-child(3) {
        display: none;
    }
    .social>* {
        transform: scale(0.8);
    }
}


/* 
.p-card:hover {
    cursor: pointer;
}

.p-info-active {
    width: 100%;
}

.p-info {
    display: flex;
    flex-direction: column;
    transition: none;
}

.p-content h1 {
    margin-top: 2rem;
}

.p-img {
    width: 100%;
    height: 70%;
}

.p-img img {
    width: 100%;
    opacity: .4;
}

.p-info .p-content h1 {
    padding: 1rem;
    opacity: .4;
}

.p-active {
    flex-grow: 10;
    opacity: 1;
    border: 6px solid var(--orangeCard);
    box-shadow: 0 .5rem 1rem gray;
    margin-top: 1rem;
    border-radius: 24px;
}

.p-info-active {
    display: flex;
    flex-direction: column;
}


.p-info-active h1 {
    text-align: end;
    padding-right: 2rem;
    color: var(--orange);
}

.p-info-active p {
    text-align: justify;
}

.p-imgs-active {
    width: 100%;
    height: 80%;
    display: flex;
    opacity: 1;
}

.p-imgs-active>* {
    width: 33%;
}

.social {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4rem;

}

.social a {
    transition: .3s;
    text-decoration: none;
}

.social a:hover {
    color: var(--orange);
}

.social-icon {
    transform: translateY(5px);
} */