.about {
    display: flex;
    height: 90vh;
    margin: 6rem 0;
}

.a-left {
    width: 60%;
}

.a-intro {
    display: flex;
    flex-direction: column;
}

.a-intro>:nth-child(1) {
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}

.a-intro>:nth-child(2) {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}

.a-intro>:nth-child(3) {
    font-weight: normal;
    font-size: 1rem;
    color: var(--gray);
    margin-top: 1rem;
    text-align: justify;
}

.a-cv {
    display: flex;
    justify-content: space-between;
}

.a-btn {
    height: 3rem;
    margin-top: 3rem;
    font-size: 14px;
}

.l-blur {
    width: 100%;
    position: relative;
    background: #abf1ff94;
    left: -10rem;
    top: -10rem;
}

.a-right {
    width: 50%;
}

.f-card {
    transform: translate(2rem, -3rem);
}

.r-blur {
    position: absolute;
    background: var(--purple);
    transform: translate(-4rem, 4rem);
}

.s-card {
    transform: translate(-12rem, -3rem);
}

.t-card {
    transform: translate(12rem, -25rem);
    margin-bottom: 0;
}

.a-arrow {
    margin-top: 11rem;
    justify-content: flex-end;
    align-items: end;
}
.a-arrow .a-down {
    padding: 0 2rem;
}