.navbar-section {
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.left-nav {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.nav-name {
    font-size: 1.3rem;
    font-weight: bold;
}


.right-nav {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.nav-list {
   flex: 8; 
}

.nav-list>ul {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    list-style: none;
} 

.nav-list>ul>li:hover {
    cursor: pointer;
    color: var(--orange);
    text-transform: uppercase;
}

.navbar-btn {
    flex: 2;
}