.intro {
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}

.i-left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.i-name {
    display: flex;
    flex-direction: column;
}

.i-name>:nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(3) {
    font-weight: normal;
    font-size: 1rem;
    color: var(--gray);
    margin-top: 1rem;
}

.i-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 2rem;
}

.i-icons {
    width: 40%;
    margin: 3rem 0 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.i-icons>* {
    transform: scale(2.5);
    /* margin: 1rem 3rem 1rem 1rem; */
    color: var(--orange);
    transition: .5s;
}

.i-icons>*:hover {
    cursor: pointer;
    color: var(--black);
    transform: scale(3) translateY(-.2rem);
}

.i-right {
    flex: 1;
    position: relative;
}

.i-right>* {
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(1) {
    transform: scale(.8);
    top: -15%;
    left: -10%;
    animation: changeOpacity 5s .1s ease-in infinite;
}

.i-right>:nth-child(2) {
    transform: scale(0.85);
    top: -1rem;
    left: 1rem;
}

.i-right>:nth-child(3) {
    transform: scale(.5);
    top: -60%;
    left: -65%;
}

@keyframes changeOpacity {
    0% {
        opacity: 1;
    }

    25% {
        opacity: .7;
    }

    50% {
        opacity: .5;
    }

    75% {
        opacity: .7;
    }

    100% {
        opacity: 1;
    }
}

.blur,
.blur2 {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
}

.blur2 {
    height: 10rem;
    background: var(--orange);
    top: 15rem;
    filter: blur(100px);
}

.i-arrow {
    justify-content: flex-end;
    padding: 1rem;
}